@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Passion+One');

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:Montserrat; 
    color:#e2e9e9;
    background-color: blueviolet;
    font-size:14px;

}

.container {
    /* border: 2px solid black; */
    padding: 1%;
    width: 30%;
    height: 85vh;
    border-radius: 1%;
    background: url('.././img/noon.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
.temp{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp>span{
    font-size: 14px;
}
.col2{
    display: flex;
    flex-direction: column;

}
.col2>h3>img{
    width: 30px;
}

img {
    width: 60px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    display: block;
    width: 80%;
    padding: 2%;
    border-radius: 2%;
    border: none;
}
input:focus{
    outline: none;
    opacity: 1;
}
input:hover{
    opacity: 1;
}
button{
    margin-top: 2%;
    width: 30%;
    padding: 2%;
    border-radius: 2px;
    border: 2px solid #4a0072;
    background-color: #7b1fa2;
    color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    overflow-x: auto;
    margin-top:auto;
}

.city {
    margin-top: -0.1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

::-webkit-scrollbar {
    width: 10px;
  }